<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="<%= root_path %>">activecell</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class='example'><a href="<%= admin_root_path%>">example</a></li>
          <li class='test_data'><a href="<%= admin_tests_path%>">test data</a></li>
          <li class="divider-vertical"></li>
          <li><a>style guide:</a></li>
          <li class="divider-vertical"></li>
          <li class='style_guide_scaffolding'><a href="<%= admin_style_guide_scaffolding_path%>">scaffolding/Layouts</a></li>
          <li class='style_guide_base_css'><a href="<%= admin_style_guide_base_css_path%>">base css</a></li>
          <li class='style_guide_components'><a href="<%= admin_style_guide_components_path%>">components</a></li>
          <li class='style_guide_tables'><a href="<%= admin_style_guide_tables_path%>">tables</a></li>
          <li class='style_guide_charts'><a href="<%= admin_style_guide_charts_path%>">charts</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
