<% content_for :scripts do %>
  <script type="text/json" id="raw_data">
    {
      "isDemo":             <%== Rails.env.demo? %>,
      "user":               <%== current_user.to_json %>,
      "company":            <%== current_company.to_json %>,
      "recurly/subscriber": <%== (current_subscriber || {}).to_json %>,
      "scenario":           <%== current_scenario.to_json %>
    }
  </script>
<% end %>

<div class="main-content">

  <% unless current_company.trial_expired? %>
    <div class="main-nav-wrapper">
      <%= render 'home/main_nav' %>
    </div>
  <% end %>

  <div class="content-wrapper">
    <% unless current_company.trial_expired? %>
      <div class="page-top-nav-wrapper">
        <div id="breadcrumbs"></div>
        <div id="sub_nav"></div>
      </div>
    <% end %>

    <div class="page-content-wrapper">
      <div id="page_content"></div>
      <div id="analysis_nav"></div>
    </div>
  </div>
</div>
