<% width = fields.size * 2 %>
<% desc ||= '' %>

<div class="row">
  <div class="span<%= width %>">
    <h3><%= title %></h3>
    <h3><small><%= desc %></small></h3>
    <table class="table table-condensed table-bordered table-striped <%= klass %>">
      <thead>
        <tr>
        <% fields.each do |field| %>
          <th><%= field %></th>
        <% end %>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>